BUCKY_IR/BUCKY_IR-backups
BUCKY_IR/gerbers

BUCKY_LIGHT/BUCKY_LIGHT-backups
BUCKY_LIGHT/gerbers

BUCKY_MAIN/BUCKY_MAIN-backups
BUCKY_MAIN/gerbers

BUCKY_MCU/BUCKY_MCU-backups
BUCKY_MCU/gerbers

BUCKY_MOTOR_DRIVER/BUCKY_MOTOR_DRIVER-backups
BUCKY_MOTOR_DRIVER/gerbers

BUCKY_POWER/BUCKY_POWER-backups
BUCKY_POWER/gerbers

BUCKY_TOF/BUCKY_TOF-backups
BUCKY_TOF/gerbers
